---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="About — Redwoods"
  description="Redwoods is a design system community started at the end of 2024 with just a few folks and grown intentionally to include design system practitioners from around the world."
  bodyClass="page_about"
>
  <Fragment slot="primary">
    <h2 class="headline">Redwoods is a <em>design system community</em>.</h2>

    <div class="columns">
      <section class="hook">
        <p>We started at the end of 2024 with just a few folks in a one-month trial run and have grown intentionally to include design system practitioners from around the world.</p>
        <p>We're a bit unique from other groups in the space, in that we are committed to synthesizing the things we learn and sharing back with the larger community. There's a level of accountability here that keeps us challenged and engaged.</p>
      </section>

      <section>
        <h3>How we show up</h3>

        <h4>We show up daily in Discord</h4>
        <p>This gives us a space to dive deep into async discussions, organize specific conversations, and share what's happening in our work and our lives.</p>

        <h4>We show up weekly in Zoom</h4>
        <p>We have three, optional times set aside for members to jump into a video call with each other. This gives us time to discuss the challenges we're facing, learn from each other, and build community.</p>

        <h4>We show up monthly in action groups</h4>
        <p>Every action group has a goal, a deadline, and an owner. These small groups let us collaborate on a specific goal over the course of a month.</p>
        <p>All members are welcome to join action groups as they have interest and time. These action groups may co-publish their learnings, develop tools or templates, create presentations, or any other appropriate means of sharing their synthesis.</p>
      </section>
    </div>
  </Fragment>

  <Fragment slot="secondary">
    <section class="quotes">
      <h4>Words from the members:</h4>
      <ul>
        <li>
          <blockquote>
            <p>"Design Systems work is hard, particularly when you/your team are the only ones who understand the work. Redwoods creates a welcoming, open-minded space to work through challenges with people who, regardless of what you're dealing with, have been there, done that."</p>
          </blockquote>
          <p><cite>Riley S.</cite></p>
        </li>
        <li>
          <blockquote>
            <p>"Redwoods is one of the only communities where I feel like I can not only grow in my own DS practice by learning from others, but also have a hand in shaping the world of design systems at large. The collaborative nature and intelligence of the members, coupled with the structure of the community itself makes the time I spend there feel valuable and exciting, while still warm and inviting."</p>
          </blockquote>
          <p><cite>ToniAnn D.</cite></p>
        </li>
        <li>
          <blockquote>
            <p>"I joined Redwoods to meet kind, curious people who love design systems and to deep dive into the wonderful and wild world of making things better for our users! The energy here is so warm, and I am really looking forward to connecting and discovering new creative things together!"</p>
          </blockquote>
          <p><cite>Ashley Z.</cite></p>
        </li>
        <li>
          <blockquote>
            <p>"There is no perfect playbook for design systems. It's quickly evolving and I can't imagine having to develop and implement strategies without access to others who are facing similar challenges. Redwoods offers that access!"</p>
          </blockquote>
          <p><cite>Brock H.</cite></p>
        </li>
        <li>
          <blockquote>
            <p>"Working in design systems can be an isolating battle, which is why finding the Redwoods community has been like a form of 'design system therapy' for me. It was an incredible validation to see my own struggles, perspectives, and process challenges reflected in the experiences of so many others, instantly making me realize, 'I am not the only one.' Beyond that initial relief, Redwoods is a hub for daily learning. It has a uniquely safe and inclusive environment where you feel genuinely comfortable asking anything, from a simple technical question to a complex strategic dilemma. I'm so grateful for this space that constantly helps me grow, and it's a vital resource for anyone in the craft who feels they're going it alone."</p>
          </blockquote>
          <p><cite>Pedro M.</cite></p>
        </li>
      </ul>
    </section>
  </Fragment>
</PageLayout>
