---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout>
  <Header />
  <main>
    <div class="main-wrap">
      <h1>Redwoods is a group of <span class="accent">life-long learners</span> committed to supporting each other on the journey of design system maturity.</h1>
    </div>
  </main>
</Layout>

<style>
.main-wrap {
  padding: var(--space-3xl);
}

.accent {
  color: var(--color-green);
}
</style>
