---
import logoRaw from "../assets/images/_redwoods_white.svg?raw";
import communityRaw from "../assets/images/_community_bg.svg?raw";
---

<div class="item container-header">
  <div class="header">
    <a class="logo" title="Home" href="/" set:html={logoRaw} />

    <nav class="nav">
      <ul>
        <li><a href="/about" title="About">About</a></li>
        <li><a href="/blog" title="Blog">Blog</a></li>
        <li>
          <a href="/the-quarterly" title="The Quarterly">The Quarterly</a>
        </li>
        <li><a href="/members" title="Members">Members</a></li>
        <li class="ps-link">
          <a href="/join" title="Join Redwoods">Join</a>
        </li>
      </ul>
    </nav>

    <span set:html={communityRaw} />
  </div>
</div>
