<header class="header">
  <p class="redwoods">Redwoods</p>
  <h1>Welcome</h1>
  <p>Let's build a super cool website here</p>
</header>

<style>
/**
 * 1. Temporary style because the is too short right now, we can remove this as soon as we've got some content in place.
 */
.header {
  min-height: 100vh; /* [1] */
  padding: var(--space-lg);
}

.redwoods {
  color: var(--color-orange);
}
</style>
